body {
  background-image: url(./assets/background.jpg);
  font-family: "Open Sans", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
}

header > a > img {
  width: 200px;
  object-fit: contain;
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

header a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.container {
  width: 1200px;
  margin: 0 auto;
}
main {
  height: calc(100vh - 100px);
  padding: 20px;
  background-color: white;
  overflow: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.favorite {
  color: red;
}

.custom-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: auto;
  width: 275px;
}

.custom-form input,
textarea {
  border: none;
  border-bottom: 1px solid #fcced3;
  height: 35px;
  margin-bottom: 20px;
  width: 100%;
  outline: none;
}

.custom-form > input[type="checkbox"] {
  position: relative;
  cursor: pointer;
}
.custom-form > input[type="checkbox"]:before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  border: 2px solid #555555;
  border-radius: 3px;
  background-color: white;
}
.custom-form > input[type="checkbox"]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
}

footer {
  font-size: 16px;
  font-weight: bold;
  color: gold;
  padding: 4px;
}

button {
  background-color: #ee171f;
  color: white;
  font-family: "Bungee", cursive;
  text-transform: uppercase;
  border: #ee171f 1px solid;
  font-size: 20px;
}
.loading-more {
  margin-top: 226px;
}

.mouse-hover:hover {
  cursor: pointer;
}

.mobile-menu {
  display: none;
}

h2 {
  font-size: 24px;
  padding: 10px 20px 10px 0px;
  font-weight: bold;
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
  }
  header > ul {
    display: none;
  }
  .characterDetail .encart,
  .comicDetail .encart {
    flex-direction: column;
  }
  .characterDetail img,
  .comicDetail img {
    max-width: 300px;
    margin: auto auto;
  }
  .mobile-menu {
    display: block;
    font-size: 26px;
    padding: 5px;
  }
  .mobile-menu .menu {
    position: fixed;
    top: 0;
    right: 0;
    background-color: gray;
    padding: 5px;
    animation: blur 1s;
    z-index: 100;
  }
  @keyframes blur {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .mobile-menu .menu > ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 20px;
  }
  .mobile-menu .menu > ul > li {
    font-size: 16px;
  }
  .close {
    position: fixed;
    top: 0;
    right: 4px;
  }
}

.fade-in {
  animation: 1s fade-in forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.backward-icon {
  padding-right: 20px;
}
.forward-icon {
  padding-left: 20px;
}
.pagination {
  padding: 5px;
}

select {
  /* styling */
  background-color: white;
  border: thin solid blue;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0 0 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}
